# RetroPath2.0 analysis

In [1]:
# Add higher directory to python modules path

import sys

sys.path.append("..")

In [2]:
import os
import yaml

import csv
import pandas as pd

from modules.retropath.utils import RetroPathPreloader

In [3]:
# Load config
with open("../modules/config.yml") as config_file:
    config = yaml.safe_load(config_file)

## Data preparation

In [4]:
# Load the previously generated metadata (see 01-GEM.ipynb)
metadata_df = pd.read_csv(
    os.path.join(
        config["paths"]["genomes"],
        "genomes-metadata.csv"
    )
)

# Instantiate the preloader
preloader = RetroPathPreloader(config)

#### EC numbers

In [5]:
# Create empty dataframe
results_df = pd.DataFrame()

for organism in metadata_df["Code"]:

    model_path = os.path.join(
        config["paths"]["models"],
        f"{organism}.json"
    )

    # Append results to dataframe
    results_df = pd.concat(
        [
            results_df,
            preloader.get_ec_from_model(model_path)
        ],
        axis=0,
        ignore_index=True
    )

results_df.to_csv(
    os.path.join(
        config["paths"]["retropath"],
        config["retropath"]["files"]["ec_numbers"]
    ),
    header=True,
    index=False,
    sep=",",
    mode="w",
    quotechar='"',
    quoting=csv.QUOTE_MINIMAL # Avoid errors with commas in names
)

results_df

      ec_numbers   ID
0        3.6.1.1  aci
1       3.5.1.54  aci
2      1.11.1.21  aci
3       1.11.1.6  aci
4        1.2.4.1  aci
...          ...  ...
11584   2.7.7.77  tez
11585   2.6.1.58  tez
11586  4.1.99.22  tez
11587   4.6.1.17  tez
11588        NaN  tez

[11589 rows x 2 columns]

#### Rules

In [7]:
rules_df = preloader.get_rules()

rules_df.to_csv(
    os.path.join(
        config["paths"]["retropath"],
        config["retropath"]["files"]["rules"]
    ),
    header=True,
    index=False,
    sep=",",
    quotechar='"',
    quoting=csv.QUOTE_MINIMAL # Avoid errors with commas in names
)

rules_df

,Rule ID,Rule,EC number,Reaction order,Diameter,Score,Reaction directionality,Rule relative direction,Rule usage
8,MNXR129650_MNXM14259,([#8&v2:1](-[#6&v4:2](=[#8&v2:3])-[#6&v4:4](-[...,1.1.1.27,1,16,2.073,0,1,both
10,MNXR129650_MNXM14259,([#8&v2:1](-[#6&v4:2](=[#8&v2:3])-[#6&v4:4](-[...,1.1.1.28,1,16,2.073,0,1,both
23,MNXR102543_MNXM2074,([#8&v2:1](-[#6&v4:2](=[#8&v2:3])-[#6&v4:4](-[...,3.1.3.18,1,16,1.724,-1,-1,forward
48,MNXR124538_MNXM60,([#8&v2:1]=[#6&v4:2](-[#8&v2:3]-[#1&v1:4])-[#8...,6.3.5.5,1,16,2.228,-1,-1,forward
49,MNXR96485_MNXM60,([#8&v2:1]=[#6&v4:2](-[#8&v2:3]-[#1&v1:4])-[#8...,6.3.5.5,1,16,2.228,-1,-1,forward
...,...,...,...,...,...,...,...,...,...
239360,MNXR135838_MNXM21,([#6&v4:1]-[#6&v4:2](-[#1&v1:3])(-[#1&v1:4])-[...,2.8.3.8,1,2,0.301,0,1,both
239375,MNXR135084_MNXM1020,([#6&v4:1](-[#6&v4:2](-[#1&v1:3])(-[#1&v1:4])-...,2.8.1.6,1,2,2.293,1,1,forward
239385,MNXR129770_MNXM155041,([#6&v4:1]-[#6&v4:2](-[#8&v2:3]-[#1&v1:4])(-[#...,4.1.2.13,1,2,2.270,0,-1,both
239386,MNXR129802_MNXM167560,([#6&v4:1]-[#6&v4:2](-[#8&v2:3]-[#1&v1:4])(-[#...,4.1.2.13,1,2,2.270,0,-1,both
239389,MNXR100464_MNXM259,([#7&v3:1]:[#6&v4:2](:[#6&v4:3]):[#7&v3:4](:[#...,3.5.4.3,1,2,1.079,-1,-1,forward

#### Sink

#### Source(s)

#### Launch RetroPath